<a href="https://colab.research.google.com/github/omar-tueme/ciencia-de-datos-avanzada-mek-enero-2026/blob/main/01_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing the libraries to be used

In [82]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

# Importing the dataset

In [83]:
url = 'https://raw.githubusercontent.com/omar-tueme/ciencia-de-datos-avanzada-mek-enero-2026/main/datos_info/adolescentes_ensanut2024_w.csv'
df = pd.read_csv(url, sep=';')

# Keeping only the columns that will be used

In [84]:
columns_to_keep = ['FOLIO_I', 'FOLIO_INT', 'd0810', 'd0801', 'd0309', 'd0709',
                   'd0702', 'd0701', 'd06a10', 'd06a9', 'd06a8', 'd06a7', 'd06a6',
                   'd06a5', 'd06a4', 'd06a3', 'd06a2', 'd06a1', 'd0818', 'd0817',
                   'd0601g', 'd0601f', 'd0601e', 'd0601d', 'd0601c', 'd0601b',
                   'd0601a', 'd0422', 'd0421', 'd0313', 'd02o1d', 'd02o1c', 'd02o1b',
                   'd02o1a', 'd01a08h', 'd01a08i', 'd01a08g', 'd01a08f', 'd01a08e',
                   'd01a08d', 'd01a08c', 'd01a08b', 'd01a08a', 'd01a03d', 'd01a03c',
                   'd01a03b', 'd01a03a', 'd0108', 'd0107', 'd0101', 'sexo', 'edad',
                   'd0416', 'd0415']

df_clean = df[columns_to_keep]

In [ ]:
dictionary_non_id_variables = {
    'd0702': {
        'Question': '¿Cómo fue que te accidentaste?',
        1: 'Choque entre vehículos de 4 o más ruedas',
        2: 'Choque en motocicleta',
        3: 'Choque o atropellamiento como ciclista',
        4: 'Atropellado como peatón',
        5: 'Otros accidentes de transporte: avión, tren, lancha',
        6: 'Caída a nivel de piso',
        7: 'Golpe con objeto, equipo o maquinaria',
        8: 'Caída de un nivel a otro: silla, escalera, etc.',
        9: 'Golpe, rasguño o mordida de persona o animal (caballo, perro, etc.)',
        10: 'Exposición a corriente eléctrica, radiación',
        11: 'Exposición a humo o fuego',
        12: 'Contacto con superficies o sustancias calientes (quemaduras)',
        13: 'Exposición a fuerzas de la naturaleza: rayo, granizo',
        14: 'Picadura de animal ponzoñoso o contacto con plantas venenosas',
        15: 'Envenenamiento accidental: alimentos, medicamentos',
        16: 'Sumersión en depósitos de agua: alberca, cisterna',
        17: 'Otros accidentes que obstruyen la respiración: objeto extraño, alimento',
        18: 'Exposición accidental a otros factores',
        99: 'NS/NR'
    },
    'd0709': {
        'Question': '¿Qué problema de salud permanente te ocasionó el accidente?',
        1: 'Ningún problema',
        2: 'Limitación o dificultad para moverse o caminar (o lo hace con ayuda)',
        3: 'Limitación o dificultad para usar sus brazos y manos',
        4: 'Dificultad para oír',
        5: 'Dificultad para hablar',
        6: 'Dificultad para ver o ceguera',
        7: 'Otra limitación física o mental',
        99: 'NS/NR'
    },
    'd0309': {
        'Question': '¿Fuiste presionada(o) o forzada(o) para tener esa primera relación sexual?',
        1: 'Sí',
        2: 'No',
        9: 'No recuerdo'
    },
    'd0801': {
        'Question': 'En los últimos 12 meses, ¿sufriste algún daño a tu salud por robo, agresión o violencia?',
        1: 'Sí',
        2: 'No',
        9: 'No responde'
    },
    'd0810': {
        'Question': '¿A lo largo de tu vida, alguien te manoseó, tocó o acarició alguna parte de tu cuerpo o tuvo relaciones sexuales contigo cuando eras muy pequeño/a?',
        1: 'Sí, antes de los 12',
        2: 'Sí, cuando tenía 12 o más años',
        3: 'No, nunca',
        4: 'No recuerda',
        5: 'No responde'
    }
}

# General descriptive information

In [85]:
df_clean.head()

,FOLIO_I,FOLIO_INT,d0810,d0801,d0309,d0709,d0702,d0701,d06a10,d06a9,...,d01a03c,d01a03b,d01a03a,d0108,d0107,d0101,sexo,edad,d0416,d0415
0,2024_01001001,2024_01001001_05,3,2,,,,2,1,1,...,,,,6,4,3,2,11,2,1
1,2024_01001006,2024_01001006_03,1,2,2,,,2,1,1,...,2,2,2,3,3,3,2,19,,
2,2024_01001009,2024_01001009_03,9,2,,,,2,1,1,...,2,2,2,2,3,3,1,15,1,1
3,2024_01001024,2024_01001024_03,3,2,,,,2,1,1,...,2,2,2,2,3,2,1,19,,
4,2024_01001026,2024_01001026_03,3,2,2,,,2,1,1,...,2,2,2,3,2,3,1,19,,

In [86]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3730 entries, 0 to 3729
Data columns (total 54 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FOLIO_I    3730 non-null   object
 1   FOLIO_INT  3730 non-null   object
 2   d0810      3730 non-null   int64
 3   d0801      3730 non-null   int64
 4   d0309      3730 non-null   object
 5   d0709      3730 non-null   object
 6   d0702      3730 non-null   object
 7   d0701      3730 non-null   int64
 8   d06a10     3730 non-null   int64
 9   d06a9      3730 non-null   int64
 10  d06a8      3730 non-null   int64
 11  d06a7      3730 non-null   int64
 12  d06a6      3730 non-null   int64
 13  d06a5      3730 non-null   int64
 14  d06a4      3730 non-null   int64
 15  d06a3      3730 non-null   int64
 16  d06a2      3730 non-null   int64
 17  d06a1      3730 non-null   int64
 18  d0818      3730 non-null   object
 19  d0817      3730 non-null   int64
 20  d0601g     3730 non-null   int64
 21  d0601f     3730 non-null   int64
 22  d0601e     3730 non-null   int64
 23  d0601d     3730 non-null   int64
 24  d0601c     3730 non-null   int64
 25  d0601b     3730 non-null   int64
 26  d0601a     3730 non-null   int64
 27  d0422      3730 non-null   object
 28  d0421      3730 non-null   object
 29  d0313      3730 non-null   object
 30  d02o1d     3730 non-null   int64
 31  d02o1c     3730 non-null   int64
 32  d02o1b     3730 non-null   int64
 33  d02o1a     3730 non-null   int64
 34  d01a08h    3730 non-null   object
 35  d01a08i    3730 non-null   object
 36  d01a08g    3730 non-null   object
 37  d01a08f    3730 non-null   object
 38  d01a08e    3730 non-null   object
 39  d01a08d    3730 non-null   object
 40  d01a08c    3730 non-null   object
 41  d01a08b    3730 non-null   object
 42  d01a08a    3730 non-null   object
 43  d01a03d    3730 non-null   object
 44  d01a03c    3730 non-null   object
 45  d01a03b    3730 non-null   object
 46  d01a03a    3730 non-null   object
 47  d0108      3730 non-null   int64
 48  d0107      3730 non-null   int64
 49  d0101      3730 non-null   int64
 50  sexo       3730 non-null   int64
 51  edad       3730 non-null   int64
 52  d0416      3730 non-null   object
 53  d0415      3730 non-null   object
dtypes: int64(30), object(24)
memory usage: 1.5+ MB

In [87]:
for col in df_clean.columns:
    print(f'Variable: {col}.\nNumber unique values: {df_clean[col].nunique()}.\n{df_clean[col].value_counts()}\n\n')

Variable: FOLIO_I.
Number unique values: 3730.
FOLIO_I
2024_32056030    1
2024_01001001    1
2024_32052016    1
2024_32052015    1
2024_32052014    1
                ..
2024_01001032    1
2024_01001028    1
2024_01001026    1
2024_01001024    1
2024_01001009    1
Name: count, Length: 3730, dtype: int64


Variable: FOLIO_INT.
Number unique values: 3730.
FOLIO_INT
2024_32056030_03    1
2024_01001001_05    1
2024_32052016_04    1
2024_32052015_05    1
2024_32052014_04    1
                   ..
2024_01001032_02    1
2024_01001028_04    1
2024_01001026_03    1
2024_01001024_03    1
2024_01001009_03    1
Name: count, Length: 3730, dtype: int64


Variable: d0810.
Number unique values: 5.
d0810
3    3510
1     121
2      43
8      38
9      18
Name: count, dtype: int64


Variable: d0801.
Number unique values: 3.
d0801
2    3660
1      68
9       2
Name: count, dtype: int64


Variable: d0309.
Number unique values: 4.
d0309
     3096
2     610
1      14
9      10
Name: count, dtype: int64


Variable: d0709.
Number unique values: 7.
d0709
      3480
1      219
2       19
3        5
7        4
99       2
6        1
Name: count, dtype: int64


Variable: d0702.
Number unique values: 15.
d0702
      3477
6      118
2       39
8       26
7       22
9       15
1        8
3        6
11       4
18       4
99       3
14       3
12       2
4        2
10       1
Name: count, dtype: int64


Variable: d0701.
Number unique values: 3.
d0701
2    3472
1     253
8       5
Name: count, dtype: int64


Variable: d06a10.
Number unique values: 4.
d06a10
1    3665
2      56
3       5
4       4
Name: count, dtype: int64


Variable: d06a9.
Number unique values: 4.
d06a9
1    3664
2      55
4       8
3       3
Name: count, dtype: int64


Variable: d06a8.
Number unique values: 4.
d06a8
1    3658
2      56
3       9
4       7
Name: count, dtype: int64


Variable: d06a7.
Number unique values: 4.
d06a7
1    3262
2     333
3      95
4      40
Name: count, dtype: int64


Variable: d06a6.
Number unique values: 4.
d06a6
1    3300
2     331
3      76
4      23
Name: count, dtype: int64


Variable: d06a5.
Number unique values: 4.
d06a5
1    3408
2     243
3      49
4      30
Name: count, dtype: int64


Variable: d06a4.
Number unique values: 4.
d06a4
1    3597
2     112
3      16
4       5
Name: count, dtype: int64


Variable: d06a3.
Number unique values: 4.
d06a3
1    2879
2     654
3     145
4      52
Name: count, dtype: int64


Variable: d06a2.
Number unique values: 4.
d06a2
1    1972
2    1369
3     283
4     106
Name: count, dtype: int64


Variable: d06a1.
Number unique values: 4.
d06a1
1    2459
2     827
3     278
4     166
Name: count, dtype: int64


Variable: d0818.
Number unique values: 6.
d0818
      3479
3      117
4       96
2       18
1       16
99       4
Name: count, dtype: int64


Variable: d0817.
Number unique values: 3.
d0817
2    3428
1     251
8      51
Name: count, dtype: int64


Variable: d0601g.
Number unique values: 4.
d0601g
1    2853
2     620
3     170
4      87
Name: count, dtype: int64


Variable: d0601f.
Number unique values: 4.
d0601f
4    2809
1     398
3     357
2     166
Name: count, dtype: int64


Variable: d0601e.
Number unique values: 4.
d0601e
1    2433
2     551
4     495
3     251
Name: count, dtype: int64


Variable: d0601d.
Number unique values: 4.
d0601d
1    2640
2     693
3     217
4     180
Name: count, dtype: int64


Variable: d0601c.
Number unique values: 4.
d0601c
1    2947
2     560
3     150
4      73
Name: count, dtype: int64


Variable: d0601b.
Number unique values: 4.
d0601b
1    2506
2     872
3     240
4     112
Name: count, dtype: int64


Variable: d0601a.
Number unique values: 4.
d0601a
1    3016
2     472
3     160
4      82
Name: count, dtype: int64


Variable: d0422.
Number unique values: 6.
d0422
5    1389
4     786
      690
3     425
2     345
1      95
Name: count, dtype: int64


Variable: d0421.
Number unique values: 6.
d0421
5    1063
4     756
      690
2     511
3     467
1     243
Name: count, dtype: int64


Variable: d0313.
Number unique values: 4.
d0313
     3438
2     194
1      97
9       1
Name: count, dtype: int64


Variable: d02o1d.
Number unique values: 3.
d02o1d
2    3657
1      50
9      23
Name: count, dtype: int64


Variable: d02o1c.
Number unique values: 3.
d02o1c
2    3662
1      44
9      24
Name: count, dtype: int64


Variable: d02o1b.
Number unique values: 3.
d02o1b
2    3669
1      46
9      15
Name: count, dtype: int64


Variable: d02o1a.
Number unique values: 3.
d02o1a
2    3693
1      20
9      17
Name: count, dtype: int64


Variable: d01a08h.
Number unique values: 4.
d01a08h
2    2921
      803
9       4
1       2
Name: count, dtype: int64


Variable: d01a08i.
Number unique values: 4.
d01a08i
2    2910
      803
1       9
9       8
Name: count, dtype: int64


Variable: d01a08g.
Number unique values: 4.
d01a08g
2    2913
      803
9       8
1       6
Name: count, dtype: int64


Variable: d01a08f.
Number unique values: 4.
d01a08f
2    2918
      803
9       8
1       1
Name: count, dtype: int64


Variable: d01a08e.
Number unique values: 4.
d01a08e
2    2913
      803
9       8
1       6
Name: count, dtype: int64


Variable: d01a08d.
Number unique values: 4.
d01a08d
2    2909
      803
9      10
1       8
Name: count, dtype: int64


Variable: d01a08c.
Number unique values: 4.
d01a08c
2    2911
      803
9      13
1       3
Name: count, dtype: int64


Variable: d01a08b.
Number unique values: 4.
d01a08b
2    2894
      803
1      22
9      11
Name: count, dtype: int64


Variable: d01a08a.
Number unique values: 4.
d01a08a
2    2773
      803
1     150
9       4
Name: count, dtype: int64


Variable: d01a03d.
Number unique values: 4.
d01a03d
2    2903
      803
9      13
1      11
Name: count, dtype: int64


Variable: d01a03c.
Number unique values: 4.
d01a03c
2    2885
      803
1      26
9      16
Name: count, dtype: int64


Variable: d01a03b.
Number unique values: 4.
d01a03b
2    2863
      803
1      48
9      16
Name: count, dtype: int64


Variable: d01a03a.
Number unique values: 4.
d01a03a
2    2866
      803
1      34
9      27
Name: count, dtype: int64


Variable: d0108.
Number unique values: 7.
d0108
6    2183
5     801
4     375
3     239
2     117
1       8
9       7
Name: count, dtype: int64


Variable: d0107.
Number unique values: 5.
d0107
3    2383
4    1223
2     103
9      18
1       3
Name: count, dtype: int64


Variable: d0101.
Number unique values: 4.
d0101
3    3555
2      92
9      49
1      34
Name: count, dtype: int64


Variable: sexo.
Number unique values: 2.
sexo
1    1874
2    1856
Name: count, dtype: int64


Variable: edad.
Number unique values: 10.
edad
11    423
13    421
15    398
10    387
12    378
17    366
18    345
19    344
14    335
16    333
Name: count, dtype: int64


Variable: d0416.
Number unique values: 5.
d0416
1    2106
2     872
      690
3      61
4       1
Name: count, dtype: int64


Variable: d0415.
Number unique values: 5.
d0415
1    2461
      690
2     532
3      46
4       1
Name: count, dtype: int64

In [88]:
df_clean.replace(r'^\s*$', np.nan, regex=True, inplace=True)

/tmp/ipython-input-2997930591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [89]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3730 entries, 0 to 3729
Data columns (total 54 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FOLIO_I    3730 non-null   object
 1   FOLIO_INT  3730 non-null   object
 2   d0810      3730 non-null   int64
 3   d0801      3730 non-null   int64
 4   d0309      634 non-null    object
 5   d0709      250 non-null    object
 6   d0702      253 non-null    object
 7   d0701      3730 non-null   int64
 8   d06a10     3730 non-null   int64
 9   d06a9      3730 non-null   int64
 10  d06a8      3730 non-null   int64
 11  d06a7      3730 non-null   int64
 12  d06a6      3730 non-null   int64
 13  d06a5      3730 non-null   int64
 14  d06a4      3730 non-null   int64
 15  d06a3      3730 non-null   int64
 16  d06a2      3730 non-null   int64
 17  d06a1      3730 non-null   int64
 18  d0818      251 non-null    object
 19  d0817      3730 non-null   int64
 20  d0601g     3730 non-null   int64
 21  d0601f     3730 non-null   int64
 22  d0601e     3730 non-null   int64
 23  d0601d     3730 non-null   int64
 24  d0601c     3730 non-null   int64
 25  d0601b     3730 non-null   int64
 26  d0601a     3730 non-null   int64
 27  d0422      3040 non-null   object
 28  d0421      3040 non-null   object
 29  d0313      292 non-null    object
 30  d02o1d     3730 non-null   int64
 31  d02o1c     3730 non-null   int64
 32  d02o1b     3730 non-null   int64
 33  d02o1a     3730 non-null   int64
 34  d01a08h    2927 non-null   object
 35  d01a08i    2927 non-null   object
 36  d01a08g    2927 non-null   object
 37  d01a08f    2927 non-null   object
 38  d01a08e    2927 non-null   object
 39  d01a08d    2927 non-null   object
 40  d01a08c    2927 non-null   object
 41  d01a08b    2927 non-null   object
 42  d01a08a    2927 non-null   object
 43  d01a03d    2927 non-null   object
 44  d01a03c    2927 non-null   object
 45  d01a03b    2927 non-null   object
 46  d01a03a    2927 non-null   object
 47  d0108      3730 non-null   int64
 48  d0107      3730 non-null   int64
 49  d0101      3730 non-null   int64
 50  sexo       3730 non-null   int64
 51  edad       3730 non-null   int64
 52  d0416      3040 non-null   object
 53  d0415      3040 non-null   object
dtypes: int64(30), object(24)
memory usage: 1.5+ MB

In [90]:
for col in df_clean.columns:
    print(f'Variable: {col}.\nNumber unique values: {df_clean[col].nunique()}.\n{df_clean[col].value_counts()}\n\n')

Variable: FOLIO_I.
Number unique values: 3730.
FOLIO_I
2024_32056030    1
2024_01001001    1
2024_32052016    1
2024_32052015    1
2024_32052014    1
                ..
2024_01001032    1
2024_01001028    1
2024_01001026    1
2024_01001024    1
2024_01001009    1
Name: count, Length: 3730, dtype: int64


Variable: FOLIO_INT.
Number unique values: 3730.
FOLIO_INT
2024_32056030_03    1
2024_01001001_05    1
2024_32052016_04    1
2024_32052015_05    1
2024_32052014_04    1
                   ..
2024_01001032_02    1
2024_01001028_04    1
2024_01001026_03    1
2024_01001024_03    1
2024_01001009_03    1
Name: count, Length: 3730, dtype: int64


Variable: d0810.
Number unique values: 5.
d0810
3    3510
1     121
2      43
8      38
9      18
Name: count, dtype: int64


Variable: d0801.
Number unique values: 3.
d0801
2    3660
1      68
9       2
Name: count, dtype: int64


Variable: d0309.
Number unique values: 3.
d0309
2    610
1     14
9     10
Name: count, dtype: int64


Variable: d0709.
Number unique values: 6.
d0709
1     219
2      19
3       5
7       4
99      2
6       1
Name: count, dtype: int64


Variable: d0702.
Number unique values: 14.
d0702
6     118
2      39
8      26
7      22
9      15
1       8
3       6
11      4
18      4
99      3
14      3
12      2
4       2
10      1
Name: count, dtype: int64


Variable: d0701.
Number unique values: 3.
d0701
2    3472
1     253
8       5
Name: count, dtype: int64


Variable: d06a10.
Number unique values: 4.
d06a10
1    3665
2      56
3       5
4       4
Name: count, dtype: int64


Variable: d06a9.
Number unique values: 4.
d06a9
1    3664
2      55
4       8
3       3
Name: count, dtype: int64


Variable: d06a8.
Number unique values: 4.
d06a8
1    3658
2      56
3       9
4       7
Name: count, dtype: int64


Variable: d06a7.
Number unique values: 4.
d06a7
1    3262
2     333
3      95
4      40
Name: count, dtype: int64


Variable: d06a6.
Number unique values: 4.
d06a6
1    3300
2     331
3      76
4      23
Name: count, dtype: int64


Variable: d06a5.
Number unique values: 4.
d06a5
1    3408
2     243
3      49
4      30
Name: count, dtype: int64


Variable: d06a4.
Number unique values: 4.
d06a4
1    3597
2     112
3      16
4       5
Name: count, dtype: int64


Variable: d06a3.
Number unique values: 4.
d06a3
1    2879
2     654
3     145
4      52
Name: count, dtype: int64


Variable: d06a2.
Number unique values: 4.
d06a2
1    1972
2    1369
3     283
4     106
Name: count, dtype: int64


Variable: d06a1.
Number unique values: 4.
d06a1
1    2459
2     827
3     278
4     166
Name: count, dtype: int64


Variable: d0818.
Number unique values: 5.
d0818
3     117
4      96
2      18
1      16
99      4
Name: count, dtype: int64


Variable: d0817.
Number unique values: 3.
d0817
2    3428
1     251
8      51
Name: count, dtype: int64


Variable: d0601g.
Number unique values: 4.
d0601g
1    2853
2     620
3     170
4      87
Name: count, dtype: int64


Variable: d0601f.
Number unique values: 4.
d0601f
4    2809
1     398
3     357
2     166
Name: count, dtype: int64


Variable: d0601e.
Number unique values: 4.
d0601e
1    2433
2     551
4     495
3     251
Name: count, dtype: int64


Variable: d0601d.
Number unique values: 4.
d0601d
1    2640
2     693
3     217
4     180
Name: count, dtype: int64


Variable: d0601c.
Number unique values: 4.
d0601c
1    2947
2     560
3     150
4      73
Name: count, dtype: int64


Variable: d0601b.
Number unique values: 4.
d0601b
1    2506
2     872
3     240
4     112
Name: count, dtype: int64


Variable: d0601a.
Number unique values: 4.
d0601a
1    3016
2     472
3     160
4      82
Name: count, dtype: int64


Variable: d0422.
Number unique values: 5.
d0422
5    1389
4     786
3     425
2     345
1      95
Name: count, dtype: int64


Variable: d0421.
Number unique values: 5.
d0421
5    1063
4     756
2     511
3     467
1     243
Name: count, dtype: int64


Variable: d0313.
Number unique values: 3.
d0313
2    194
1     97
9      1
Name: count, dtype: int64


Variable: d02o1d.
Number unique values: 3.
d02o1d
2    3657
1      50
9      23
Name: count, dtype: int64


Variable: d02o1c.
Number unique values: 3.
d02o1c
2    3662
1      44
9      24
Name: count, dtype: int64


Variable: d02o1b.
Number unique values: 3.
d02o1b
2    3669
1      46
9      15
Name: count, dtype: int64


Variable: d02o1a.
Number unique values: 3.
d02o1a
2    3693
1      20
9      17
Name: count, dtype: int64


Variable: d01a08h.
Number unique values: 3.
d01a08h
2    2921
9       4
1       2
Name: count, dtype: int64


Variable: d01a08i.
Number unique values: 3.
d01a08i
2    2910
1       9
9       8
Name: count, dtype: int64


Variable: d01a08g.
Number unique values: 3.
d01a08g
2    2913
9       8
1       6
Name: count, dtype: int64


Variable: d01a08f.
Number unique values: 3.
d01a08f
2    2918
9       8
1       1
Name: count, dtype: int64


Variable: d01a08e.
Number unique values: 3.
d01a08e
2    2913
9       8
1       6
Name: count, dtype: int64


Variable: d01a08d.
Number unique values: 3.
d01a08d
2    2909
9      10
1       8
Name: count, dtype: int64


Variable: d01a08c.
Number unique values: 3.
d01a08c
2    2911
9      13
1       3
Name: count, dtype: int64


Variable: d01a08b.
Number unique values: 3.
d01a08b
2    2894
1      22
9      11
Name: count, dtype: int64


Variable: d01a08a.
Number unique values: 3.
d01a08a
2    2773
1     150
9       4
Name: count, dtype: int64


Variable: d01a03d.
Number unique values: 3.
d01a03d
2    2903
9      13
1      11
Name: count, dtype: int64


Variable: d01a03c.
Number unique values: 3.
d01a03c
2    2885
1      26
9      16
Name: count, dtype: int64


Variable: d01a03b.
Number unique values: 3.
d01a03b
2    2863
1      48
9      16
Name: count, dtype: int64


Variable: d01a03a.
Number unique values: 3.
d01a03a
2    2866
1      34
9      27
Name: count, dtype: int64


Variable: d0108.
Number unique values: 7.
d0108
6    2183
5     801
4     375
3     239
2     117
1       8
9       7
Name: count, dtype: int64


Variable: d0107.
Number unique values: 5.
d0107
3    2383
4    1223
2     103
9      18
1       3
Name: count, dtype: int64


Variable: d0101.
Number unique values: 4.
d0101
3    3555
2      92
9      49
1      34
Name: count, dtype: int64


Variable: sexo.
Number unique values: 2.
sexo
1    1874
2    1856
Name: count, dtype: int64


Variable: edad.
Number unique values: 10.
edad
11    423
13    421
15    398
10    387
12    378
17    366
18    345
19    344
14    335
16    333
Name: count, dtype: int64


Variable: d0416.
Number unique values: 4.
d0416
1    2106
2     872
3      61
4       1
Name: count, dtype: int64


Variable: d0415.
Number unique values: 4.
d0415
1    2461
2     532
3      46
4       1
Name: count, dtype: int64